.main {
  width: 100%;
  /* height: 85vh; */
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/* Výška main je zatím orientační */

.base {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.main--home {
  height: 78vh;
  margin-top: 2rem;
}

.base--home {
  height: 20rem;
  padding: 1rem 0 2rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 450px) {
  .base {
    width: 90%;
  }
  .base--home {
    width: 80%;
  }
}
@media (min-width: 650px) {
  .base--home {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .base {
    width: 80%;
  }
  .base--home {
    width: 40%;
  }
}
@media (min-width: 1700px) {
  .base--home {
    width: 25%;
  }
}
