.navigation {
  position: absolute;
  top: 9%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

@media (min-width: 650px) {
  .navigation {
    top: 0%;
  }
}
