footer {
  width: 100%;
  color: var(--background-secondary);
  font-size: 0.5rem;
  text-align: right;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
}

@media (min-width: 650px) {
  footer {
    padding-right: 2rem;
  }
}
