.dark__mode {
  display: flex;
  align-items: center;
}
.theme__switcher {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 3.5rem;
}

.theme__switcher input {
  display: none;
}

.slider {
  background-color: var(--text-highlights);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--background-secondary);
  bottom: 4px;
  content: '';
  height: 1.5rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.5rem;
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}
