.web {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--text-plain);
  background-color: var(--background-primary);
}
