.base__title {
  color: var(--text-highlights);
  width: 100%;
  text-align: center;
  font-size: 1.65rem;
}

.base__title--home {
  margin-top: 4rem;
}

@media (min-width: 450px) {
  .base__title {
    font-size: 1.8rem;
  }
}
