.nav__button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  color: var(--text-highlights);
  background-color: transparent;
  cursor: pointer;
}
.fa-bars,
.fa-xmark {
  font-size: 2.5rem;
}

@media (min-width: 650px) {
  .nav__button {
    display: none;
  }
}
